.about_page {
  background-image: linear-gradient(
      to bottom,
      rgba(190, 190, 190, 0) 0%,
      rgb(0, 0, 0, 2) 100%
    ),
    url("../../asset/bikeweb_05-Current-View.png");
  height: fit-content;
  width: 100%;
  background-size: cover;
}

.about_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding-top: 10rem;
}
.about_wrapper h1 {
  color: #fff;
  margin-bottom: 2rem;
}
.about_wrapper p {
  color: #fff;
  margin-bottom: 2rem;
  padding-bottom: 13rem;
}
.about_wrapper .span {
  color: var(--primary);
  padding-bottom: 8rem;
}

@media screen and (max-width: 1080px) {
  .about_wrapper {
    padding-top: 2rem;
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .about_wrapper {
    padding-bottom: 2rem;
    width: 80%;
  }
}
